<div class="centered-div">
    <img id="init-icon" src="assets/images/IMG_0136.JPG"/>
    <div id="init-container">
      <div id="init-ghost">
        <img src="assets/images/ghost-pixel.gif"/>
      </div>
      <div class="init-buttons">
        <div>
          <!-- <div>
            <button class="init-start-button">INICIAR</button>
          </div> -->
          <div>
            <button class="init-alt-start-button" (click)="startGame()">INICIAR</button>
          </div>
        </div>
      </div>
    </div>
</div>
