/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
    background-color: #0E0035;
    font-family: 'Assistant';
    overflow-y: hidden;
    height: 95vh;
}
/* Importing Bootstrap SCSS file. */
//@import '~bootstrap/scss/bootstrap';

/* Importación de archivo de estilos principal */
@import '/src/assets/styles/game.scss';
