<div id="main-level-div">
    <div id="left-panel">
        <div id="left-top-panel">
            <div class="content-box scrollable">
                <div>
                    <h3>Selectores</h3>
                    <div>
                        En CSS los selectores son utilizados para delimitar a los componentes que serán afectados por un conjunto
                            de atributos. Existen 3 tipos de selectores: por etiqueta, por clase y por identificador.
                        <ul>
                            <li>
                                <b>Etiqueta:</b> Se indica la etiqueta (tag) de html que será afectada. Los estilos serán aplicados
                                a todas las etiquetas que se indique.
                            </li>
                            <li>
                                <b>Clase:</b> A la etiqueta se le indica las clases que serán aplicadas para modificar su estilo. No
                                 importa el tipo de etiqueta, si tiene una clase indicada esta será afectada por los atributos que tenga.
                            </li>
                            <li>
                                <b>Identificador: </b> En el archivo CSS se indica el nombre de un elemento y solamente ese elemento
                                 será afectado por los atributos que allí se especifiquen. Este es el selector más particular que
                                 existe ya que solo afectará a un elemento en todo el código.
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>
        <div id="left-bottom-panel">
            <div class="content-box">
                <div>
                    <h3>Reto</h3>
                    <div>
                        Cambia el color de los fantasmas según las siguientes indicaciones:
                        <ul>
                            <li>Carlos de color rojo</li>
                            <li>Luisa de color amarillo</li>
                            <li>Kevin de color gris</li>
                        </ul>
                    </div>
                </div>
                <div class="challenge-section type-text">
                    <div class="brackets">
                        <input> &lbrace;
                        <br>&emsp;color: red;
                        <br>&rbrace;
                    </div>
                    <div class="brackets">
                        <input> &lbrace;
                        <br>&emsp;color: yellow;
                        <br>&rbrace;
                    </div>
                    <div class="brackets">
                        <input> &lbrace;
                        <br>&emsp;color: gray;
                        <br>&rbrace;
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="right-panel">
        <div class="game-box">
            <div id="selector-color">
                <div>
                    <div>
                        <img src="assets/images/ghost.png">
                        <div>
                            <div class="blurred"></div>
                            <div class="name">
                                <div style="text-align: center;">
                                    Carlos
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="assets/images/ghost.png">
                        <div>
                            <div class="blurred"></div>
                            <div class="name">
                                <div style="text-align: center;">
                                    Luisa
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="assets/images/ghost.png">
                        <div>
                            <div class="blurred"></div>
                            <div class="name">
                                <div style="text-align: center;">
                                    Kevin
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
